//$body-font-family:"Open Sans", Verdana, Geneva, sans-serif;
$body-font-family:"NeuzeitGro", "Open Sans", Verdana, Geneva, sans-serif;
$title-font-family:Candida,TimesNewRoman, sans-serif;
$portfolio-font-family:"NeuzeitGro", Roboto2014, "Open Sans", Verdana, sans-serif;
// $portfolio-font-fmialy: Roboto2014, "Open Sans", Verdana, sans-serif;
//$portfolio-font-title:Roboto2014, "Open Sans", Verdana, sans-serif;

@mixin font-face{

	// @font-face {
	// 	font-family:Bodyfont2;
	// 	src:url(fonts/Proxima-Nova-A.otf);
	// }

	@font-face {
		font-family:Candida;
		src:url('fonts/CandidaStd-Roman.otf'),url('fonts/CandidaStd-Roman.ttf') format('truetype');

	}

	@font-face {
		font-family:Candida;
		font-weight:800;
		src:url('fonts/CandidaStd-Bold.otf'),url('fonts/CandidaStd-Bold.ttf') format('truetype');
	}

	@font-face {
		font-family:Roboto2014;
		src:url(fonts/Roboto-Regular.ttf);
	}

	@font-face {
		font-family:Roboto2014;
		font-weight:100;
		src:url(fonts/Roboto-Light.ttf);
	}

	@font-face {
		font-family:Roboto2014;
		font-weight:800;
		src:url(fonts/Roboto-Bold.ttf);
	}

	@font-face {
		font-family:Gurmukh;
		src:url(fonts/GurmukhiMN.ttf);
	}

	@font-face {font-family: 'NeuzeitGro';font-weight:800;src: url('webfonts/2FA093_0_0.eot');src: url('webfonts/2FA093_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2FA093_0_0.woff2') format('woff2'),url('webfonts/2FA093_0_0.woff') format('woff'),url('webfonts/2FA093_0_0.ttf') format('truetype');}
 
	@font-face {font-family: 'NeuzeitGro';src: url('webfonts/2FA093_1_0.eot');src: url('webfonts/2FA093_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2FA093_1_0.woff2') format('woff2'),url('webfonts/2FA093_1_0.woff') format('woff'),url('webfonts/2FA093_1_0.ttf') format('truetype');}

	// @font-face {font-family: 'Sanchez-Regular';src: url('webfonts/2FA0A6_0_0.eot');src: url('webfonts/2FA0A6_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2FA0A6_0_0.woff2') format('woff2'),url('webfonts/2FA0A6_0_0.woff') format('woff'),url('webfonts/2FA0A6_0_0.ttf') format('truetype');}

	// @font-face {
	//     font-family: 'museo_slab';
	//     src: url('webfonts/Museo_Slab_500_2-webfont.eot');
	//     src: url('webfonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
	//          url('webfonts/Museo_Slab_500_2-webfont.woff2') format('woff2'),
	//          url('webfonts/Museo_Slab_500_2-webfont.woff') format('woff'),
	//          url('webfonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
	//          url('webfonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
	//     font-weight: normal;
	//     font-style: normal;

	// }

}

@mixin body-font{
	font-size:22px;
	line-height:28px;
}

