/*****************************************

			Home

******************************************/
.home{
	position:relative;
	width:1200px;
}

.headline{
	font-size:80px;
	font-family:$title-font-family;
	margin:60px 0 0 60px;
	color:#222;
}

.goto-about{
	position:absolute;
	top:50%;
	right:60px;
	width:144px;
	height:168px;
	background-image:url(img/click.png);
	background-repeat:no-repeat;
	background-position:-18px 0;
}

.goto-about-img{
	position:relative;
	top:69px;
}

/*****************************************

	About Me

******************************************/
.about{
	position:relative;
	width:1200px;
	margin-bottom:40px;
	background-color:#222;
}

.about-lead-sec{
	padding-bottom:100px;
}

.about-lead{
	width:1200px;
	margin:0 auto;
	padding:20px 60px 20px;
}



.about-h{
	font-size:40px;
	margin:24px 0;
	font-family: $title-font-family;
	font-weight:bold;
	text-align:center;
	color:#fff;

}

.about-h1{
	width:1200px;
	font-size:60px;
	line-height:76px;
	font-family: $title-font-family;
	padding:60px 0 70px 60px;
	color:#fff;
}



.about-h2{
	font-size:46px;
	font-family: $portfolio-font-family;
	color:#fff;
	margin-bottom:46px;
}

.about-h3-lead{
	font-size: 26px;
	font-family: $portfolio-font-family;
	color:#fff;
	margin-bottom: 6px;
	margin-top:70px;
}

.about-h3{
	font-size: 26px;
	font-family: $portfolio-font-family;
	color:#151515;
	margin-bottom: 36px;
}

.goto-pf-w{
	position:absolute;
	width:168px;
	height:144px;
	bottom:350px;	
	right: 50%;
	margin-right:-600px;
	z-index:1;
	background-image:url(img/about/seemywork-w.png);
	background-repeat:no-repeat;
	background-position: -5px 0px;
}
	.goto-pf-img{
		position:relative;
		top:80px;
	}

.about-offer{
	width:1100px;
	margin-left:130px;
}

	.about-offer-ul1{
		margin-bottom:45px;
		// margin-left: 40px;	
	}
	
		.about-offer-ul1 > li{
			float:left;
			width:280px;
			font-size:24px;
			margin-right:45px;
			text-align:center;
			color:#fff;
			font-family: $title-font-family;
		}
		
		.fa-check{
			margin-right:4px;
			color:#aaa;
		}
		
	
	.about-offer-ul2{
		margin-left: 80px;
	}
		
		.about-offer-ul2 > li{
			font-size:20px;
			line-height:26px;
			list-style:disc;
			color:#fff;
			font-family: $title-font-family;
		}

.about-bg1{
	background-color:#f4f4f4;
}

.panel-offer{
	padding:40px 60px;
}

.panel-profile{
	padding:100px 60px 60px 130px;
}

	.about-profile{
		float:left;
		// margin-top:20px;
	}
	
		.about-h2-tools{
			font-size:30px;
		}
		
		.about-biography{
			width:600px;
			margin-left:62px;
			font-size:20px;
			line-height: 28px;
			color:#747474;
			margin-bottom:36px;
		}
				
		.about-screen{
			float:right;
			position: relative;
		}
		
.about-myself{
	float:left;
	margin: 120px 0 0 96px;
	width:194px;
}

		

.about-tools{
	padding:30px 60px;
}
		
.about-tools-p{
			font-size:18px;
			line-height: 28px;
			color:#747474;
			margin-bottom:36px;
}
