/***************************************************

	Responsive

****************************************************/
@media (min-width:900px){
	// .gzt-cards{
	// 	right: ;
	// }	
}

@media (min-width: 1140px) {
	.pf-goto-contact{
		margin-right:0;
		right:2%;
	}
	
}

@media (min-width: 1200px) {
	.home,
	.about,
	.portfolio{
		width:100%;
	}

	.headline{
		font-size:90px;
	}
	
	.rgk-topimg{
		max-width:100%;
	}
	
	.backto-pf{
		left:50%;
		margin-left:-600px;
	}

	.goto-contact{
		right:50%;
		margin-right:-700px;
	}

}

@media (min-width: 1400px) {
	/***home***/
	.headline{
		font-size:98px;
	}

	.backtoabout{
		left:50%;
		margin-left:-580px;
	}
	
	.cnt-back{
		left:20px;
		margin:0;
	}
	
}

@media (min-width: 1600px) {

	/***about***/
	.about-h1{
		width:1400px;
		font-size:70px;
		line-height:86px;
	}
	
	// .about-h2{
	// 	font-size:46px;
	// 	margin-bottom:46px;
	// }
	
	// .about-offer{
	// 	width:1100px;
	// }
	
	// .about-offer-ul1{
	// 	margin-bottom:45px;
	// }
	
	.about-offer-ul1 > li{
		width:280px;
		font-size:24px;
		margin-right:45px;
	}
	
	.about-h3-lead{
		//margin-top:70px;
		margin-bottom: 10px;
	}
	
	.about-offer-ul2 > li{
		font-size:22px;
		line-height: 28px;
	}
	
	.about-h3{
		font-size:28px;
	}
	/***portfolio***/	
	.portfolio-h1{
		font-size:64px;
	}
	
	.portfolio-h3{
		font-size:20px;
	}
	
	.portfolio-i{
		font-size:16px;
	}
	
	.pf-next,
	.pf-next-w{
		width:270px;
		padding:24px;
		font-size:20px;
	}
	
	.pf-right{
		width:53%;
	}
	
	.rgk-topimg{
		max-width:80%;
		margin-left:10%;
	}
	
	.rgkleft-inner{
		width:560px;
	}
	
	.ecm-topimg{
		width:48%;
	}
	
	.left-wzb{
		margin-right:10%;
	}
	
	.wzb-imgwrp{
		width:60%;
	}
	/***contact***/	
	.contact-h1{
		font-size:50px;
		margin:30px 0 20px;
	}
	
	.contact-label{
		font-size:20px;
	}
	
	.contact-input,
	.contact-txtarea{
		height:40px;
		margin-bottom:20px;
	}
	
	.contact-txtarea{
		height:260px;
	}
	
	.navbar-ul > li > a,
	.sub-menu >li >a{
		font-size:17px;
		padding: 10px;
	}
	
	.navbar-ul > li >a:after{
		height:30px;
	}
}
@media (min-width: 1900px) {
	/***home***/
	.headline{
		font-size:110px;
	}
	
	.goto-about{
		width:200px;
		height:172px;
		background-position:-11px 0;
		background-size:200px;
	}
	
	.goto-about-img{
		top:84px;
	}
	
	/***about***/
	// .about-h1{
	// 	width:1600px;
	// 	font-size:66px;
	// }
	
	.about-h2{
		font-size:48px;
		margin-bottom:48px;
		letter-spacing:0.3px;
	}
	
	.about-offer{
		width:1200px;
		margin-left: 160px;
	}
	
	.about-offer-ul1 {
		margin-bottom:60px;
	}
	
	.about-offer-ul1 > li{
		width:300px;
		font-size:26px;
		margin-right: 60px;
	}
	
	.about-h3-lead{
		font-size:30px;
	}
	
	.about-offer-ul2{
		margin-left: 98px;
	}
	
	.about-offer-ul2 > li{
		font-size:24px;
		line-height: 30px;
	}
	
	.panel-profile{
		padding:100px 60px 60px 160px;
	}
	
	.about-h3{
		font-size:30px;
	}
	
	.about-biography{
		margin-left: 82px;
	}
	
	.about-myself{
		margin:120px 0 0 180px;
		width:214px;
	}
	
	.goto-pf-w{
		width:200px;
		height:187px;
		background-size:200px;
		margin-right:-740px;
	}
	
	.goto-pf-img{
		top:100px;
	}
	
	.pf-right{
		width:48%;
	}
	
	.portfolio-eas{
		height:670px;
	}
	/***contact***/	
	.contact{
		width:1200px;
	}
	.contact-h1{
		font-size:56px;
	}
	
	.contact-form{
		width:800px;
	}
	
	.contact-label{
		font-size:20px;
	}
	
	.contact-input,
	.contact-txtarea{
		width:800px;
		font-size:18px;
		margin-bottom:26px;
	}
	
	.contact-txtarea{
		height:300px;
	}
	
	.submit{
		width:120px;
		height:46px;
	}
}


/*****************************************

			clearfix(hack.css)

******************************************/

.cf:after, clearfix:before{
    content: " ";
    display: table;    
}

.cf:after{  
    clear:both;
}

.cf{
    *zoom:1; /*fixes container behavior in ie 6*/
    /*for hack of IE6*/
}