/*****************************************

	Portfolio - Innerpage - Common

******************************************/
.backto-pf{
	position: fixed;
	left:20px;
	top: 25px;
	font-size: 0;
}

.goto-contact{
	position: absolute;
	width:168px;
	height:144px;
	right:50%;
	margin-right:-560px;
	top: 25px;
	font-size: 0;
	background-image:url(img/contactme.png);
	background-repeat:no-repeat;
	z-index:3;
}

	.goto-contact-img,
	.backto-pf-img{
		position:relative;
		top:70px;
	}

.pf-goto-contact{
	top:200px;
	background-image:url(img/contactme-w.png);
}

.page-inner{
	width:1200px;
	margin:0 auto;
	padding:110px 60px 80px;
}

.page-inner-top{
	width:1200px;
	margin:0 auto;
	padding:40px 60px 0;
}

.page-inner-3devices{
	width:1200px;
	margin:0 auto;	
	padding:110px 0 80px;
}


.inner-content-nwp,
.inner-content-wzb{
	width:1200px;
	margin:0 auto;
}

.page-h1,
.page-h2{
	font-family:$portfolio-font-family;
	-webkit-font-smoothing: antialiased;
}

.page-h1,
.inner-typ-h2{
	font-size: 60px;
	padding-bottom:13px;
	border-bottom:1px solid #adadad;
}

.page-h2{
	font-size: 46px;
	line-height:42px;
}


.page-headdescription{
	font-size:18px;
	padding-top:10px;
	margin-bottom:60px;
	color:#747474;
}


.page-inner > p,
.page-inner-top > p{
	@include body-font;
	color:#464646;
}
	
	.description-p{
		width: 1000px;
		margin-bottom:50px;
	}

	.page-inner > .tools-p{
		font-size:18px;
		color:#747474;
	}

.viewsite{
	margin:0 auto 140px;
	width: 230px;
	padding: 20px 50px;
	text-align: center;
	border: 1px solid #333;
	font-size: 18px;	
}

	.viewsite:hover{
		transition:all 0.3s ease-in;
		background-color:#646464;
		color:#fff;
		border:none;
	}
	
.bg1{
	// background-color:#f4f4f4;
	border-top:1px solid #ddd;
}

.bg2{
	// background-color:#f9f9f9;
	border-top:1px solid #ddd;
}

.bg-b{
	border-bottom:1px solid #ddd;
}

.wfdescription{
	counter-reset: item;
}

.wfdescription > li{
	font-size: 20px;
	margin-bottom:14px;
	color:#464646;
}

	.wfdescription > li:before{
		display: inline-block;
		content: counter(item) "";
		counter-increment: item;
		color: white;
		margin:5px 5px 0 0;
		padding: 5px 8px 0;
	}
	
.inner-p{
	margin:30px 0 90px;
}

.page-smartphone{
	float:left;
	position: relative;
	width: 320px;
	height: 565px;
	margin-right: 60px;
	margin-left:20px;
	bottom: -183px;
	background-image:url(img/smartphone2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
}
	
	.page-smartphone:after{
		content: "";
		position: absolute;
		width: 140px;
		height: 394px;
		top: 6px;
		left: 130px;
		background-image: url(img/smartphone-glare.png);	
		background-repeat: no-repeat;
		z-index: 2;
	}


	.page-smartphone-inner{
		position: relative;
		width: 219px;
		height: 387px;
		overflow: hidden;
		left: 47px;
		top: 61px;
	}

.page-tablet{
	float: left;
	position: relative;
	width: 657px;
	height: 862px;
	background-image:url(img/tablet2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
}

	.page-tablet:after{
		content: "";
		position: absolute;
		width: 268px;
		height: 614px;
		top: 4px;
		left: 283px;
		background-image: url(img/tablet-glare.png);	
		background-repeat: no-repeat;
		z-index: 2;
	}

	.page-tablet-inner{
		position: relative;
		width: 425px;
		height: 567px;
		overflow: hidden;
		left: 102px;
		top: 65px;
	}


.page-tablet{
	float: left;
	position: relative;
	width: 657px;
	height: 862px;
	background-image:url(img/tablet2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
}

	.page-tablet:after{
		content: "";
		position: absolute;
		width: 268px;
		height: 614px;
		top: 4px;
		left: 283px;
		background-image: url(img/tablet-glare.png);	
		background-repeat: no-repeat;
		z-index: 2;
	}

	.page-tablet-inner{
		position: relative;
		width: 425px;
		height: 567px;
		overflow: hidden;
		left: 102px;
		top: 65px;
	}


/*******************************

	Innerpage - Gazettemag

********************************/
.gzt-b1{
	position:relative;	
	background-color:#171d22;	
}

.gzt-b2{
	position:relative;	
	background-color:#000;	
}

.gzt-b3{
	position:relative;
	// background-color:#0B2224;
}

.gzt-h1{
	font-size:66px;
	line-height:52px;
}

.gzt-cards-sec{
	position: relative;
	z-index:2;
	//float:left;
	width:46%;
	color:#fff;
	@include body-font;
}

.gzt-left{
	float:left;
	width:54%;
	padding-right:20px;
	@include body-font;
	color:#fff;
}


.gzt-right{
	float:right;
	width:46%;
	color:#fff;
	padding-left:80px;
	@include body-font;
}

.gzt-adphone{
	float:left;
	width:200px;
	@include body-font;
	color:#fff;
}

.gzt-adtablet{
	float:left;
	width:370px;
	color:#fff;
	padding-left:0;
	@include body-font;
}

.gzt-adtablet-h{
	float:left;
	width:510px;
	color:#fff;
	padding-left:0;
	@include body-font;

}

.gzt-adpc{
	float:left;
	width:300px;
	color:#fff;
	padding-left:0;
	@include body-font;
}

.gzt-ad-p{
	@include body-font;
}

.gzt-adclicks{
	color:#464646;
}

.gzt-h2{	
	margin-bottom:70px;
}

.gzt-cards{
	position:absolute;
	top:-70px;
	right: 0;
	height:815px;
	z-index:1;
	max-width:none;
}

.gzt-homewf{
	margin-bottom: 30px;
}

.gzt-list-sp{
}


.gzt-circulation{
	float:right;
	width:46%;
	padding-left:80px;
	@include body-font;
}

.gzt-iphone6{
	position:relative;
	float:left;
	width: 340px;
	height: 606px;
	margin-right: 60px;
	margin-left:100px;
	background-image:url(img/iphone6.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
}


.gzt-hover-device{
    position: absolute;
    display: inline-block;
    padding-top: 23px;
    width: auto;
    min-width: 65px;
    height: 80px;
    color: #fff;
    text-align: center;
    background-color: #f3409a;
    border-radius: 50%;
    left: 250px;
    top: -80px;
    z-index: 1;
}

.gzt-hover-device:after{
	content: "";
	position: absolute;
    bottom: -8px;
    left: 20px;
    margin-left: 16px;
    display: block;
    width: 16px;
    height: 45px;
	background-color:#f3409a;
    border-radius: 20px 0;
    z-index: -1;
}



	.gzt-iphone6:after{
		content: "";
		position: absolute;
		width: 140px;
		height: 394px;
		top: 7px;
		left: 152px;
		background-image: url(img/smartphone-glare.png);	
		background-repeat: no-repeat;
	}

	.gzt-iphone6-inner{
		position: relative;
		width: 236px;
		height: 418px;
		overflow: hidden;
		left: 51px;
		top: 67px;
	}

.gzt-sp-post{
	position: relative;
	-webkit-transition: all 10s ease;
	   -moz-transition: all 10s ease;
		-ms-transition: all 10s ease;
		 -o-transition: all 10s ease;
			transition: all 10s ease;
}

.gzt-sp-post:hover{
	margin-top: -1930px;
}

.gzt-tstmnl-left{
	float:left;
	width:135px;
}

.gzt-tstmnl-right{
	float:left;
	width:800px;
	font-size:20px;
	color:#888;
	margin-left:40px;
	margin-top:4px;
	margin-bottom:13px;
}

/*******************************

	Innerpage - UBCBAJA

********************************/
.ubc-sec{
	margin-bottom:30px;
}

.ubc-h1{
	line-height:62px;
}

.ubc-inner-rc{
	padding-bottom:70px;
}

	.ubc-inner-left{
		float: left;
		width:500px;
	}

	.ubc-inner-right{
		float:left;
		width:500px;
	}

		.ubc-h2{
			margin-bottom: 5px;
		}
		
	.disc-listred > li{
		list-style:disc;
		color: #fe0707;
		font-size:18px;
		margin-left: 30px;
		margin-bottom:10px;
	}
	
	.disc-listblue > li{
		list-style:disc;
		color: #4d60d5;
		font-size: 18px;
		margin-left: 30px;
		margin-bottom:10px;
	}
	
		.listred-inner,
		.listblue-inner{
			color:#464646;
		}

.ubc-mockup{
	padding-left: 60px;
}

.ubc-inner-h3{
	font-size:30px;
	margin-bottom: 5px;
}

	.ubc-inner-h3-mockup{
	font-size:30px;
	margin-bottom: 30px;
	}
	
	.ubc-homemockup-p{
		margin-bottom:60px;
	}
	
	.ubc-wf{
		float: left;
		width: 46%;
	}

		.ubc-wf > li:before{
			background-color:#FD8B3F;
		}

.ubc-homewf{
	margin-bottom: 30px;
}

	.ubc-homewf-img{
		float: right;
		width:54%;
		border:1px solid #e7e7e7;
	}

.ubc-sps-p{
	margin-bottom:30px;
}

	.sps-before,
	.sps-arrow{
		float:left;
	}
	
	.sps-before{
		margin-right:60px;
	}
	
	.sps-arrow{
		margin-top:180px;
	}
	
	.sps-after{
		float:right;
		border:1px solid #e7e7e7;
	}

.ubc-mobile{
	position: relative;
}


.ubc-hover-phone,
.wzb-hover-phone{
    position: absolute;
    display: inline-block;
    padding-top: 23px;
    width: auto;
    min-width: 65px;
    height: 80px;
    color: #fff;
    text-align: center;
    background-color: #f3409a;
    border-radius: 50%;
    left: 230px;
    top: -81px;
    z-index: 1;
}

.ubc-hover-phone:after,
.wzb-hover-phone:after{
	content: "";
	position: absolute;
    bottom: -8px;
    left: 20px;
    margin-left: 16px;
    display: block;
    width: 16px;
    height: 45px;
	background: rgb(243, 64, 154);
    border-radius: 20px 0;
    z-index: -1;
}

.ubc-hover-tablet,
.wzb-hover-tablet{
    position: absolute;
    display: inline-block;
    padding-top: 26px;
    width: 90px;
    min-width: 65px;
    height: 80px;
    color: #fff;
    text-align: center;
    background-color: #f3409a;
    border-radius: 50%;
    left: 510px;
    top: -79px;
    z-index: 1;
}

.ubc-hover-tablet:after,
.wzb-hover-tablet:after{
	content: "";
	position: absolute;
    bottom: -8px;
    left: 20px;
    margin-left: 16px;
    display: block;
    width: 16px;
    height: 45px;
    background-color: #f3409a;
    border-radius: 20px 0;
    z-index: -1;
}

.ubc-spsr-smp{
	position: relative;
	-webkit-transition: all 10s ease;
	   -moz-transition: all 10s ease;
		-ms-transition: all 10s ease;
		 -o-transition: all 10s ease;
			transition: all 10s ease;
}

	.ubc-spsr-smp:hover{
		margin-top: -2740px;
	}

.ubc-spsr-tbl{
	position: relative;
	-webkit-transition: all 4s ease;
	   -moz-transition: all 4s ease;
		-ms-transition: all 4s ease;
		 -o-transition: all 4s ease;
			transition: all 4s ease;
}

	.ubc-spsr-tbl:hover{
		margin-top: -815px;
	}
	
.sponsorship-wm{
	margin:0 auto 30px;
}

.formere-chart{
	width:600px;
	margin:0 auto 30px;
}

.ubc-smartphone{
	position: relative;
	bottom: 47px;	
}

.ubc-tstmnl{
	padding-top:10px;
}

.tstmnl{
	width:1000px;
	margin:60px auto;
}
	
	.ubc-tstmnl-left{
		float:left;
		width:135px;
	}
	
	.ubc-tstmnl-right{
		float:left;
		width:800px;
		font-size:20px;
		color:#888;
		margin-left:40px;
		margin-top:35px;
		margin-bottom:13px;
	}
	
	.tstmnl-spn{
		font-size:16px;
		color:#888;
		margin-left:40px;
	}

/*******************************

	Innerpage - Newsportal

********************************/
.nwp-h1{
		line-height:54px;
	}


.nwp-img{
	border:1px solid #e7e7e7;
}

// .nwp-backend-login{
// 	height: 500px;
// }

.nwp-backend-loginform{
	width: 400px;
	margin: 0 auto 180px;
}

.nwp-backend-loginform > p{
	font-size: 30px;
}

.nwp-backend-loginform > label{
	font-size: 18px;
	margin: 0;
}

.nwp-backend-input{
	width: 100%;
	height: 36px;
	margin-bottom: 20px;
	font-size: 16px;
	border: 1px solid #ccc;
	padding:0.3rem;
}

.nwp-backend-send{
	width: 100px;
	height: 40px;
	font-size: 14px;
	background-color: #41A837;
	color: #fff;
	border: none;
}

.nwp-backend-input:focus,
.nwp-backend-send:focus{
	outline: none;
}
		
	.vs-m{
		margin:80px auto 140px;
	}

.nwp-articlesback-img{
	margin-bottom:180px;
}


/*******************************

	Innerpage - Ecommerce

********************************/
.ecm-h1{
	line-height:45px;
	border-bottom: 1px solid #adadad;
}

.ecm-h2{
	margin-bottom:10px;
}

.ecm-wfpd-wrap{
	border-bottom:none;
}

	.ecm-wf-pd > li{
		float: left;
		width: 50%;
	}
	
	.ecm-wf-pd > li:before,
	.ecm-wf-home > li:before{
			background-color:#50a4c7;
		}
	
	.ecm-productwf-img,
	.ecm-productmu-img,
	.ecm-homemu-img{
		border:1px solid #e7e7e7;
	}
	
.ecm-wfpd{
	padding:0 140px 100px;
}

.ecm-wf-home{
	float:left;
	width:38%;
}

.ecm-homewf-img{
	float:right;
	width:60%;
	border:1px solid #e7e7e7;
}

.ecm-last{
	margin-bottom:100px;
}

/*******************************

	Innerpage - Reggiekeywatson

********************************/
.rgk-h1{
	line-height:50px;
}

.rgk-h2-list{
	margin-bottom:4px;	
}

.rgk-inner-rc{
	padding-top:0;
}

.disclaimer-p{
	width: 1000px;
	margin:30px 0;
}

.rgk-mockup{
	margin-left:20px;
}

.rgk-mockup > li{
	list-style:disc;
	font-size: 18px;
}

.viewsite-reggiekey{
	margin-bottom:30px;
}



/*******************************

	Innerpage - WazabiBuzz

********************************/
.wzb-h1{
	line-height:50px;
}

.inner-sec-wzbtop{
	width:100%;
	padding-top: 30px;
}

	.inner-sec-wzb{
		padding:30px 60px 60px;
	}
	
.wzb-mobnav-p{
	margin-bottom:140px;
}

.wzb-mobnav{
	float:none;
	bottom:0;
	margin:0 auto;
	// background-image:url(img/smartphone2.jpg)
}

.wzb-smartphone-inner{
	position: relative;
    width: 219px;
    height: 386px;
    overflow: hidden;
    left: 47px;
    top: 62px;
}

.inner-wzb-sphimg{
	position: relative;
	max-width:none;
	right:140px;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;
	}

	.inner-wzb-sphimg:hover{
		right:0;
	}

.wzb-wfcode{
	margin-bottom:60px;
}

	.wzb-wf,
	.wzb-code{
		float:left;
		border: 1px solid #e7e7e7;
	}
		
	.wzb-wf{
		margin-right: 40px;
	}

				
.wzb-page-mobile{
	width:1100px;
	margin:0 auto;
}

.wzb-page-smp{
	position: relative;
	-webkit-transition: all 10s ease;
	   -moz-transition: all 10s ease;
		-ms-transition: all 10s ease;
		 -o-transition: all 10s ease;
			transition: all 10s ease;
}

	.wzb-page-smp:hover{
		margin-top: -2133px;
	}


.wzb-page-tbl{
	position: relative;
	-webkit-transition: all 4s ease;
	   -moz-transition: all 4s ease;
		-ms-transition: all 4s ease;
		 -o-transition: all 4s ease;
			transition: all 4s ease;
}

	.wzb-page-tbl:hover{
		margin-top: -909px;
	}

// .wzb-bg2{
// 	background-color:#f9f9f9;
// 	border-top:1px solid #ddd;
// }



/*******************************

	Innerpage - Typography

********************************/
.eas-h1{
	line-height:53px;
	margin-bottom:0;
}

.inner-content-typ{
	padding-top:30px;
}

.eas-content{
	margin-bottom: 100px;
	background:
		url(img/eastasianserif/crane.png) right 10px top 200px no-repeat,
		url(img/eastasianserif/sakura.png) -10px 1160px no-repeat;
}

.eas-h2{
	font-size:40px;
	margin-bottom: 20px;
}
	
.showcase-h2{
	font-size:40px;
	margin-bottom: 40px;
}
	
.eas-clg{
	margin-top:110px;
}

	.eas-showcase{
		position:relative;
		bottom:130px;
	}

.eas-fp{
	width:1000px;
	margin:20px 0 50px;
}

.eas-cp{
	padding-top:80px;
}
	
.eas-cp-dcp{
	width:1000px;
	margin:20px 0;
}

	
.easprocess-img{
	margin:0 auto;
	margin-bottom: 30px;
}	

.easpoint{
	margin:0 auto;
	width:900px;
}

.eas-sc{
	padding-top:80px;
}

.showcase{
	margin:0 auto 50px;
	border:1px solid #e7e7e7;
}

/* PowerTip Plugin */
#powerTip {
	cursor: default;
	background-color: #333;
	/*border-radius: 10px;*/
	/*background-color: rgba(0, 0, 0, 0.8);*/
	color: #fff;
	display: none;
	padding: 10px;
	position: absolute;
	/*white-space: nowrap;*/
	z-index: 2147483647;
	
	border-radius: 50%;
	height:80px;
	width:80px;
	text-align:center;
	font-size:14px;
}